.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-weight: 600;
  color: rosybrown;
}

.typingIndicatorContainer {
  display: flex;
  flex: none;
  align-items: flex-end;
  margin: 20px 0;
}

.typingIndicatorBubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 40px;
  margin: 0 8px;
  background-color: #f0f1f1;
  border-radius: 12px;
}

.typingIndicatorBubbleDot {
  width: 4px;
  height: 4px;
  margin-right: 4px;
  background-color: #57585a;
  border-radius: 50%;
}

.typingAnimation .typingIndicatorBubbleDot {
  animation: bounce 1.3s linear infinite;
}

.typingIndicatorBubbleDot:first-of-type {
  margin: 0 4px;
}

.typingIndicatorBubbleDot:nth-of-type(2) {
  animation-delay: 0.15s;
}

.typingIndicatorBubbleDot:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-8px);
  }
}
